<template name="dropdowns">
    <ul class="nav nav-pills">
    <li class="active"><a href="/">Home</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Rosta
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{pathToLink 'createRosta'}}">Create</a></li>
            <li><a href="{{pathToLink 'manageRosta'}}">Manage</a></li>
            <li><a href="#"></a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Team
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{pathToLink 'createTeamMember'}}">Create</a></li>
            <li><a href="{{pathToLink 'manageTeamMember'}}">Manage</a></li>
            <li><a href="#"></a></li>
        </ul>
    </li>
    </ul>
</template>