<template name="header">
    <div class="header-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-lg-4">
                    <h1>Rosta</h1>
                </div>
                <div class="col-sm-8 col-lg-8">
                    <nav class="navbar">
                        <div class="container-fluid">

                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/rosta">Manage Rostas</a></li>
                                <li><a href="/groups">Manage Groups</a></li>
                                <li><a href="/staff">Manage Staff</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>